.main {
    padding: 3rem;
    min-height: 100vh;
}

.post {
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 2px;
}

.postTitle {
    margin-bottom: 4px;
}

.postText {
    color: var(--text-color-secondary);
    margin-bottom: 16px;
    font-size: 16px;
}

.postDate {
    color: var(--text-color-tertiary);
    margin-bottom: 16px;
    font-size: 12px;
    font-style: italic;
}

.comment {
    margin: 16px 16px 16px 48px;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 2px;
    font-size: 12px;
    color: var(--text-color-secondary);
}

.comment > :first-child {
    color: var(--text-color-tertiary);
    font-weight: bold;
    font-style: italic;
    margin-bottom: 8px;
}

.commentForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.commentLabel {
    margin: 0;
    font-size: 12px;
    color: var(--text-color-tertiary);
}

.inputField, .textField {
    margin-bottom: 16px;
}

.button {
    padding: 8px;
    color: #FFF;
    background-color: var(--text-color-primary);
    outline: none;
    border: none;
    border-radius: 4px;
    font-family: inherit;
}
